@import "tailwindcss";
@import 'bootstrap-icons/font/bootstrap-icons.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source "../views";

/* @theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
} */

@plugin "daisyui" {
  name: "beautyworks";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  themes: ["beautyworks"];
  base: true;
  styled: true;
  utils: true;
  logs: true;
  rtl: false;
  prefix: "";
  darkTheme: "dark";
}


@plugin "daisyui/theme" {
  name: "beautyworks";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(97% 0.001 106.424);
  --color-base-300: oklch(92% 0.003 48.717);
  --color-base-content: oklch(59% 0.249 0.584);
  --color-primary: oklch(59% 0.249 0.584);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(84% 0.143 164.978);
  --color-secondary-content: oklch(26% 0.051 172.552);
  --color-accent: oklch(83% 0.145 321.434);
  --color-accent-content: oklch(98% 0.003 247.858);
  --color-neutral: oklch(92% 0.003 48.717);
  --color-neutral-content: oklch(0% 0 0);
  --color-info: oklch(60% 0.126 221.723);
  --color-info-content: oklch(98% 0.019 200.873);
  --color-success: oklch(62% 0.194 149.214);
  --color-success-content: oklch(98% 0.018 155.826);
  --color-warning: oklch(64% 0.222 41.116);
  --color-warning-content: oklch(98% 0.016 73.684);
  --color-error: oklch(58% 0.253 17.585);
  --color-error-content: oklch(96% 0.015 12.422);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 2px;
  --depth: 1;
  --noise: 0;
}

